*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    max-width: 100%;
    background-color: #F9F9F9;
}
header{
    background-color: #FFFFFF;
}
.container-cabecalho{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.img-logo-yt{
    width: 5.625rem;
}
.input-pesquisa{
    width: 21.75rem;
    height: 2.5rem;
    float:left; 
    border-color: #CCCCCC; 
}
.btn-pesquisa{
    width: 3.5625rem;
    height: 2.5rem;
    float:left; 
    border-color: #CCCCCC;  
}
.img-pesquisa{
    width: 1.5rem;
    height: 1.5rem;
}
.img-video-icone{
    padding: 0.3125rem;
}
.img-sino-icone{
    padding: 0.3125rem;
}

.container-barra-pesquisa{
    padding: 0.4375rem;
}

.container-cabecalho-grupo1{
    display: flex;
    gap: 1.25rem;
    padding-top: 1rem;
}

.container-cabecalho-grupo2{
    display: flex;
}

.container-cabecalho-grupo3{
    display: flex;
    gap: 1.25rem;
    padding-top: 0.625rem;
}
.container-sidebar-1, .container-sidebar-2, .container-sidebar-3, 
.container-sidebar-4, .container-sidebar-5, .container-sidebar-6, 
.container-sidebar-7, .container-sidebar-8, .container-sidebar-9{
    display: flex;
    gap: 1rem;
}
.titulo-sidebar{
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.3125rem;
}
.paragrafo-sidebar{
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 0.3125rem;
    color: #515151;
}
.img-sidebar{
    width: 10rem;
    height: 5.625rem;
}
.container-aside-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
}
.container-main{
    display: flex;
    gap: 1.5625rem;
    margin-left: 4.6875rem;
    margin-top: 1.75rem;
    font-family: roboto;
}
.container-watch-video{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container-watch-video-grupo1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.img-video-principal{
    width: 59.5rem;
    height: 33.5625rem;
}
.titulo-watch-video{
    font-size: 1.25rem;
    font-weight: 600;
}
.container-watch-video-grupo2{
    display: flex;
    gap: 2.625rem;
}
.container-icone-dio{
    display: flex;
    gap: 0.3125rem;
}
.container-icone-dio-tx{
    display: flex;
    flex-direction: column;
}
.container-icone-dio-tx p{
    font-size: 0.875rem;
    padding-top: 0.3125rem;
}
.container-icone-dio-tx span{
    font-size: 0.875rem;
}
.img-icone-dio{
    border-radius: 50%;
    width: 2.625rem;
    margin-right: 0.3125rem;
}
.btn-subscribe{
    background-color: #CC0000;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.125rem;
    padding: 0.75rem 2.25rem;
    border-color: #CC0000;
}
.container-icone-like, .container-icone-share, .container-icone-download{
    display: flex;
    gap: 0.5rem;
}
.container-icone-dislike{
    display: flex;
    gap: 0.625rem;
}
.img-icone-like, .img-icone-dislike{
    width: 1.23rem;
    height: 1.25rem;
}
.img-icone-share, .img-icone-download{
    width: 1.5rem;
    height: 1.5rem;
}
.container-icone-like, .container-icone-dislike, .container-icone-share, .container-icone-download{
    padding-top: 0.5625rem;
}
.container-watch-video-grupo3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.875rem;
}
.container-watch-video-txt2{
    width: 31.875rem;
    height: 4rem;
    font-weight: 400;
    color: #515151;
}

@media (max-width: 30rem){
    body{
        background-color: #FFFFFF;
    }
    .container-cabecalho{
        display: flex;
        justify-content: space-between;
        gap: 18.75rem;
    }
    .container-icone-profile, .btn-pesquisa, .input-pesquisa{
        display: none;
    }
    .container-main{
        display: flex;
        flex-direction: column;
    }
    .img-video-principal{
        width: 45.625rem; 
        height: 26.875rem;
    }
    .container-watch-video-grupo1{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-subscribe{
        border-radius: 3.125rem;
        padding: 0.625rem 1.25rem;
        text-transform: none;
        background-color: #000000;
        border-color: #000000;
    }
    .container-watch-video-grupo2{
        gap: 3.125rem;
    }
    .container-icone-dio{
        gap: 0.625rem;
    }
    .img-icone-dio{
        width: 3.75rem;
    }
    .container-watch-video-txt2{
        display: none;
    }
    .container-icone-download, .container-icone-share, .container-icone-like{
        border: 1px solid #edeaea;
        border-radius: 1.6875rem;
        background-color: #edeaea;
        padding: 1.25rem 0.625rem 0.3125rem 0.625rem;
    }
    .container-icone-dislike {
        display: none;
    }
    .container-sidebar-1, .container-sidebar-2, .container-sidebar-3, .container-sidebar-4,
    .container-sidebar-5, .container-sidebar-6, .container-sidebar-7, .container-sidebar-8,
    .container-sidebar-9{
        display: flex;
        flex-direction: column;
    }
    .img-sidebar{
        width: 31.25rem;
        height: 18.75rem;
    }
    .titulo-sidebar{
        font-size: 1.25rem;
    }
    .paragrafo-sidebar{
        font-size: 0.625rem;
    }
}